body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #010620;
  color: #36bcce;
  overflow-x: hidden;

  
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #30d4e0;
}

h1 {
  margin-bottom: 10px;
}
